<li [ngClass]="{ editing: isEditing(), completed: todo().isCompleted }">
  <div class="view">
    <input
      [ngClass]="{ hidden: isEditing() }"
      class="toggle"
      type="checkbox"
      [checked]="todo().isCompleted"
      (change)="toggleTodo()"
    />
    <label
      [ngClass]="{ hidden: isEditing() }"
      (dblclick)="setTodoInEditMode()"
      >{{ todo().text }}</label
    >
    <button
      [ngClass]="{ hidden: isEditing() }"
      class="destroy"
      (click)="removeTodo()"
    >
      X
    </button>
  </div>
  <ng-container *ngIf="isEditing()">
    <input
      class="edit"
      #textInput
      [value]="editingText"
      (keyup)="changeText($event)"
      (keyup.enter)="changeTodo()"
      (keyup.escape)="cancelEditing()"
    />
  </ng-container>
</li>
